<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="UTF-8" />
	<title>Health Tips</title>
	
	
</head>
<body>
	<section>
	<div style="  background-image:url('/img/healthback.jpg');
				  background-size:cover;
				  background-repeat:no-repeat;
				  background-position:center center;">
	<div class="text-center">
	<h1 style="color:orange;">Health Tips</h1>
	</div>
	
	<div class="mx-4 my-4" th:each="post :${BlogPost}">
		<div class="mycon">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card text-center">
                <img src="" th:src="${post.imageUrl}" class="card-img-top" alt="Card Image">
                <div class="card-body">
                    <h5 class="card-title" th:text="${post.title}"></h5>
                    <p class="card-text" th:text="${post.content}"></p>
                     <p class="card-text"><small class="text-muted">created by vishnu saladhi</small></p>
                </div>
            </div>
        </div>
    </div>
</div>
	</div>
	
	<!-- Pagination -->
	<div class="d-flex justify-content-center">
	<nav aria-label="Page navigation example">
  <ul class="pagination">
    <li th:if="${currentPage != 0}" class="page-item"><a th:href="@{'/Patient/HealthTips/'+${currentPage-1}}" class="page-link" href="#">Previous</a></li>
    
    <li th:classappend="${currentPage==i-1?'active':''}" th:each="i: ${#numbers.sequence(1,totalPages)}" class="page-item"><a th:href="@{'/Patient/HealthTips/'+${i-1}}" class="page-link" href="#"><span th:text="${i}"></span></a></li>
    
    <li th:if="${currentPage+1 != totalPages}" class="page-item"><a th:href="@{'/Patient/HealthTips/'+${currentPage+1}}" class="page-link" href="#">Next</a></li>
  </ul>
</nav>
</div>

</div>
	
	</section>
	
</body>
</html>


		